---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

interface Props {
    title: string;
    open?: boolean;
}

// const { title, open = false } = Astro.props;
const title = "Collapsible Section Collapsible Section Collapsible Section Collapsible Section Collapsible Section";
const open = false;
const id = `collapsible-${Math.random().toString(36).slice(2, 7)}`;
---

<StarlightPage frontmatter={{ title: "Prototype page" }}>
    <div class="not-content">
        <div class="collapsible" data-open={open}>
            <div
                class="collapsible__trigger"
                aria-expanded={open ? "true" : "false"}
                aria-controls={id}
                role="button"
            >
                <span>{title}</span>
                <div class="collapsible__icon">
                   <svg
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z"
                            fill="currentColor"
                        />
                    </svg>
                </div>
            </div>
            <div id={id} class="collapsible-content" role="region" hidden={!open}>
                <div class="collapsible-inner">
                    <slot />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>

        <div class="collapsible" data-open={true}>
            <div
                class="collapsible__trigger"
                aria-expanded={true ? "true" : "false"}
                aria-controls={id}
                role="button"
            >
                <span>{title}</span>
                <div class="collapsible__icon">
                   <svg
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z"
                            fill="currentColor"
                        />
                    </svg>
                </div>
            </div>
            <div id={id} class="collapsible-content" role="region" hidden={!true}>
                <div class="collapsible-inner">
                    <slot />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
    </div>
</StarlightPage>

<style>

    .collapsible {
        --fd-collapsible-border-raduis: 6px;
        /*
            Trying to use
        */
        --fd-collapsible-primary-color: var(--sl-color-gray-6);
        --fd-collapsible-secondary-color: var(--sl-color-gray-7);
    }

    .collapsible:not(:last-child) {
        margin-bottom: 1rem;
    }

    .collapsible__trigger {
        width: 100%;
        background-color: transparent;
        padding: 1rem;
        cursor: pointer;
        text-align: left;
        transition: background 0.15s;
        position: relative;
        border-radius: var(--fd-collapsible-border-raduis);
    }

    .collapsible__trigger:hover {
        background: var(--fd-collapsible-secondary-color);
    }

    .collapsible__icon {
        transition: transform 0.2s ease;
        position: absolute;
        left: -1.5rem;
        top: 1rem;
        display: flex;
    }

    .collapsible[data-open="true"] .collapsible__trigger {
        border-radius: var(--fd-collapsible-border-raduis) var(--fd-collapsible-border-raduis) 0 0;
        margin-bottom: .25rem;
        background-color: var(--fd-collapsible-primary-color);
    }

    .collapsible[data-open="true"] .collapsible__icon {
        transform: rotate(90deg);
    }

    .collapsible-content[hidden] {
        display: none;
    }

    .collapsible-inner {
        padding: 1rem;
        background-color: var(--fd-collapsible-secondary-color);
        border-radius: 0 0 var(--fd-collapsible-border-raduis) var(--fd-collapsible-border-raduis);
    }
</style>

<script>
    document.querySelectorAll<HTMLElement>(".collapsible").forEach((el) => {
        const trigger = el.querySelector(
            ".collapsible__trigger",
        )!;
        const content = el.querySelector<HTMLElement>(".collapsible-content")!;

        trigger.addEventListener("click", () => {
            const isOpen = el.dataset["open"] === "true";
            const newState = String(!isOpen);
            el.dataset["open"] = newState;
            trigger.setAttribute("aria-expanded", newState);
            content.hidden = isOpen;
        });
    });
</script>
